.site-footer {
  width: 100%;
  background: #1E4843;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;

  &-block {
    display: flex;
    justify-content: space-between;
    padding: 26px 0 26px;
    align-items: center;

    @media (max-width: 760px) {
      flex-direction: column;
      padding: 40px 0 40px;
    }
    
    &_social {
      display: flex;
      gap: 25px;

      @media (max-width: 760px) {
        padding-bottom: 39px;
        margin: 0 auto;
      }

      a {
        height: 22.69px;
        display: flex;
        align-items: center;

        &:hover {
          svg {
            path {
              fill: #7FE425;
              transition: all .4s ease-in-out;
            }
          }
        }
      }
    }

    &_nav {
      display: flex;
      flex-wrap: wrap;
      gap: 41px;

      @media (max-width: 760px) {
        max-width: 328px;
        padding-bottom: 23px;
        gap: 65px;
        row-gap: 21px;
        border-bottom: 1px solid rgba(232, 237, 236, 0.1);
        justify-content: center;
      }

      a {
        color: #FFFFFF;
        line-height: 18px;

        @media (max-width: 760px) {
          font-size: 16px;
          line-height: 20px;
        }

        &:hover {
          color: #7FE425;
          transition: all .2s ease-in-out;
        }
      }
    }

    &_quiz {
      @media (max-width: 760px) {
        padding-top: 27px;
        max-width: 234px;
        margin: 0 auto;
        text-align: center;
      }

      a {
        line-height: 23px;
        color: #7FE425;
        border-bottom: 1px solid #7FE425;
      }
    }
  }
}