@import url('https://fonts.cdnfonts.com/css/geometria');

* {
  margin: 0;
  padding: 0;
  font-family: 'Geometria', sans-serif;
}

.container {
  max-width: 1145px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}